.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
}

.input {
  border-radius: 8px;
  height: 40px;
  border: none;
  padding-left: 8px;
}

.btn {
  color: #fff;
  font-weight: 500;
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 8px;
}

btn:hover {
  color: aqua;
}
