.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #aaa;
  box-shadow: 5px 5px 5px #aaa;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  border: none;
}

.label {
  color: #fff;
  font-weight: 600;
}

.field {
  width: 400px;
  height: 36px;
  padding-left: 16px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #aaa;
  border: 1px solid #aaa;
}
.button {
  padding: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  background-color: cadetblue;
  border-radius: 4px;
  border: none;
  color: #fff;
}

.button:hover {
  background-color: darkcyan;
}

.error {
  font-size: 14px;
  color: red;
}
